.bg-light { background: lightgray; }
.bg-blue { background: blue; }
.bg-navy { background: navy; }
.bg-gray { background: gray; }
.bg-yellow { background: yellow; }
.text-white { color: white; }
.text-green { color: green; }
.text-lg { font-size: 18px; }